# Images Folder
/server/media
/server/transfer


# Android
/ArtistsFilter/.idea/libraries
/ArtistsFilter/.idea/modules.xml
/ArtistsFilter/.idea/workspace.xml
/ArtistsFilter/.gradle
/ArtistsFilter/local.properties
